{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
	.outer {
		display: flex;
		
	}
	.but {
		width: 240px;
		height: 120px;
		background-color: burlywood;
		display: block;
		margin: 60px;
		border-radius: 30px;
		font-size: 50px;
	}
	.myimg {
		padding: 150px;
	}
	</style>

</head>
<body style="text-align: center;">
	<div class="outer">
		<div class="myimg">
			<img src="/static/coloring/images/color-wheel.png" alt="">
		</div>
		<div style="margin-top: 180px;">
			<button class = "but" id="design">Desgin</button>
			<button class = "but" id="gallery">Gallery</button>
		</div>
	</div>
	
	<script type="text/javascript">
		$("#design").click(function(){
			window.location.href = "/coloring/new_interaction";
		})

		$("#gallery").click(function(){
			window.location.href = "/coloring/gallery";
		})
	</script>
</body>
</html>
